.login-signup-page {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
}

.login_signup-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border-radius: 10px;
}

.login_signup-container h1 {
    margin: 20px 0px;
}

.login_signup-field {
    display: flex;  
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;

}

.login_signup-field input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    font-size: 20px;
    color: 5c5c5c;
}

.login_signup-container button {
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font: 500;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top:25px ;
    gap:20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}