.item-card{
    width: 350px;
}

.item-card p{
    margin: 6px 0px;
}

.item_prices{
    display:flex;
    gap:20px;
}

.item_price-new{
    font-size:18px;
    color: #374751;
    font-weight: 600;
}
.item_price-old{
    font-size: 18px;
    color: #8c8c8c;
    text-decoration: line-through;
    font-weight: 500;
}

.item-card:hover{
    transform: scale(1.03);
    transition: 0.6s;
}