.new-collections-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 100px;
}
.new-collections-container h1{
    font-size: 50px;
    color: #171717;
    font-weight: 600;
}
.new-collections-container hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.new-collections-items{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    margin-top: 50px;
}