.popular-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    height: 90vh;
}
.popular-container h1{
    font-size: 50px;
    color: #171717;
    font-weight: 600;
}
.popular-container hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.popular_items{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}