.product_display{
    display : flex;
    margin :0px 170px;
}
.product_diplay-left{
    display: flex;
    gap:17px;
}
.product_display-image-list{
    display: flex;
    flex-direction: column;
    gap:17px;
}
.product_display-image-list img{
    height: 163px;
}
.product_display-image-main{
    height:700px;
    width: 583px;
}
.product_display-right{
    margin : 0px 70px;
    display: flex;
    flex-direction: column;
}

.product_display-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product_display-right_star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color : #1c1c1c;
    font-size: 16px;
}
.product_display-right-price{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product_display-right-old_price{
    color:#818181;
    text-decoration: line-through;
}
.product_display-right-new_price{
    color: #ff4141;
}
.product_display-right-size h1{
    margin-top:55px;
    font-size: 20px;
    font-weight: 600;
    color: #656565;
}
.product_display-right-sizes{
    display:flex;
    gap:20px;
    margin: 30px 0px;
}
.product_display-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.product_display-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product_display-right-category{
    margin-top: 10px;
}
.product_display-right-category span{
    font-weight: 600;
}